#contentlist{
  display: inline-flex;
  margin-top: 8vh;
  margin-bottom: 4vh;
  margin-left: 2vh;
}
#content{
  width:350px;
  height: 240px;
  cursor: pointer;
  padding-top: 10px;
}
@font-face {
  font-family: "BIZUDPMincho"; /* 任意の名前 */
  src: url("/asset/BIZUDPMincho-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaskaydiaMono"; /* 任意の名前 */
  src: url("/asset/caskaydiamono/CaskaydiaMonoNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#contenttitle{
  font-size: 17pt;
  font-weight: bold;
  font-family: "BIZUDPMincho", sans-serif;
  margin-bottom: 10pt;
  margin-top:10pt;
  margin-left: 20px;
  white-space: nowrap;
  color: black;
  text-decoration: none;
}
.contentimage{
  height: auto;
  margin-left: 20px;

}
.contentimage img {
  max-width: 100%;       /* 親幅を超えない */
  max-height: 100%;      /* 親高さを超えない */
  width: auto;
  height: auto;
}
#colortag{
  width:127px;
  height: 240px;
  margin-left: 10px;
  margin-bottom: 3vh;
  cursor: pointer;
  position: relative;
}
#contdate{
  rotate:-90deg;
  padding-left: 0;
  position: absolute;
  font-size: 15pt;
  font-weight: bold;
  font-family: "BIZUDPMincho", sans-serif;
  left:-15pt;
  bottom:20pt;
  color: black;
}
#articletitle{
  font-size: 17pt;
  font-weight: bold;
  font-family: "BIZUDPMincho", sans-serif;
  margin-bottom: 10pt;
  margin-top:10pt;
  margin-left: 20px;
  white-space: nowrap;
}
#articleentity{
  text-align:left;
  font-family: "BIZUDPMincho", sans-serif;
  font-weight:normal;
  width: 55%;
  margin:0 auto;
  line-height: 1.3;

}

::selection{
  background-color:black;
  color: white;
}
@media(max-width:768px){
  #articleentity{
    width:85%;
  }
}
#articlearea{
  text-align: center;
  font-family: "BIZUDPMincho", sans-serif;
  margin-top:20px;
  margin-bottom:60px;
}
#articleImage{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

}
#articletitleImage{
  max-width: 800px;
}
a{text-decoration: none;}
.FigureCaption{
  text-align: center;     /* お好み */
}
figure {
  display: flex;
  flex-direction: column; /* 縦方向 */
  padding: 0;
  margin: 0;
}

code{
  background-color: #eeeeee;
  font-family: "CaskaydiaMono", sans-serif;
  
}

#titlebox{
  display: flex;
  height: auto;
  margin-bottom:50px;
}

#blackline{
  background-color: black;
  width:5px;
}
#datetitle{
  margin-left: 20px;
}
#date{
  font-size:15pt;
  margin-top:0;
}
#title{
  margin-top: 0;
  font-size:18pt;
  overflow-wrap: normal;
  font-weight: bold;
}
#title p{
  margin: 0;
}
